.navbar {
    background-color: #333;
    color: #FDE7BB;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 1.5em;
    color: #FAB12F;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    font-size: 1.1em;
    color: #FDE7BB;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 0%;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #FAB12F;
}

.navbar-login {
    display: flex;
    gap: 15px;
    align-items: center; 
    list-style: none;
    margin: 0; 
    padding: 0; 
}

.navbar-login a {
    font-size: 1.1em; 
    color: #FDE7BB; 
    text-decoration: none; 
    padding: 8px 15px; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

.navbar-login a:hover {
    background-color: #FAB12F;
    color: #333; 
}

.navbar-login li {
    display: inline;
}
