/* Định dạng tổng thể cho phần chứa các flashcards */
.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    padding-top: 50px;
}

/* CSS cho flip card lớn hơn */
.flip-card {
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Mặt trước và mặt sau */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-front {
    background-color: #F5F5DC;
    color: black;
}

.flip-card-back {
    background-color: #B6A28E;
    color: white;
    transform: rotateY(180deg);
}

.word-front,
.word-back {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.word-front {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: 45px;
}
.word-spell {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 50px;
}

/* Thêm lớp 'flipped' để quay thẻ */
.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

/* Mic */
.mic-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.flip-instruction {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

/* Nút return */
.return-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.return-button img {
    transition: transform 0.2s;
    width: 30px;
    height: 30px;
}

.return-button:hover img {
    transform: scale(1.1);
}