{% extends 'master.html' %}
{% load static %}

{% block title %}Hangman Game{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/hangman.css' %}">
{% endblock %}

{% block content %}
<div class="hangman-container">
    <!-- Khu vực hiển thị ảnh hangman -->
    <div class="hangman-figure">
        <img id="hangman-image" src="{% static 'images/hangman0.jpg' %}" alt="Hangman">
    </div>
    <input type="hidden" id="hangmanWord" value="{{ hangman_word }}">
    <!-- Khu vực hiển thị từ cần đoán -->
    <div class="word-display">
        <!-- Tạo chuỗi các dấu gạch ngang dựa trên số lượng chữ cái -->
        <span id="word-display">
            {% for letter in hangman_word %}
                {% if letter != ' ' %}
                    _
                {% else %}
                    &nbsp;
                {% endif %}
            {% endfor %}
        </span>
    </div>
    
    <!-- Các nút chữ cái -->
    <div class="letter-buttons">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <button class="letter-button" onclick="guessLetter('{{ letter }}', this)">{{ letter }}</button>
        {% endfor %}
    </div>
    
    <!-- Thông báo khi thua -->
    <div id="message" style="display: none; color: rgb(221, 10, 21);">You lose! The correct word was <span id="correct-word">{{hangman_word}}</span>.</div>
</div>
<!-- Nút "Try Again" -->
<div id="try-again-container" style="display: none; margin-top: 20px;">
    <button id="try-again-button" onclick="reloadPage()">Try Again</button>
</div>


<script src="{% static 'js/hangman.js' %}"></script>
{% endblock %}
