<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}FlashCard{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/CenterText.css' %}">
</head>
<body>

    <header>
        <h1>FlashCard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'topics' %}">Home</a></li>
                <li><a href="{% url 'topics' %}">Home1</a></li>
                <li><a href="{% url 'topics' %}">Home2</a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>FlashCard</p>
    </footer>
</body>
</html>
