<!-- register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <div class = "container">

        <h2>Đăng ký tài khoản</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Đăng ký</button>
        <a href = "{%url 'login' %}"><h4 class="center-text">Tôi đã có tài khoản</h4></a>
    </form>
   
    </div>
</body>
</html>