<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCard Topics</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block main-content %}
    <h1>FlashCard Topics</h1>
    <div class="container text-center">
        <div class="row row-cols-4">
            <ul>
                {% for topic in topics %}
                <div class ="col">
                    <div class="card" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <a href="{% url 'topic_detail' topic.id %}">{{ topic.name }}</a>
                        </div>
                      </div>    
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock main-content %}
</body>

</html>