{% extends 'master.html' %}
{% load static %}

{% block title %}Flashcard Detail{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/word-detail.css' %}">
{% endblock %}

{% block content %}
<div class="flashcard-container">
    <div class="flip-card" onclick="toggleFlip(this)">
        <div class="flip-card-inner">
            <!-- Mặt trước của từ -->
            <div class="flip-card-front">
                <input type="hidden" id="correctWord" value="{{ word.front }}">
                <p class="word-front">{{ word.front }}</p>
                <button id="startRecognition" class="mic-button">
                    <img src="{% static 'images/mic-button.png' %}" alt="Nhận diện phát âm" width="30" height="30">
                </button>
                <p id="recognitionResult"></p>
                <p id="pronunciationResult"></p>
                <p class="flip-instruction">Click để lật xem nghĩa</p>
                <div class="return-button" title="Trở về Topic">
                    <a href="{% url 'flashcards' word.id_topic.slug_topic %}">
                        <img src="{% static 'images/return-button.png' %}" alt="Back To Topic" width="30" height="30">
                    </a>
                </div>
            </div>
            <!-- Mặt sau của từ -->
            <div class="flip-card-back">
                <p class="word-back">{{ word.back }}</p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/flip_card.js' %}"></script>
<script src="{% static 'js/speech.js' %}"></script>
{% endblock %}